@import "bootstrap";

.navbar {
  .navbar-inner {
    background-color: #4a4a4a;
    background-image: none;
  }
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.span7
{
  margin: 50px;
  float: 10px !important;
}